body {
  background-color: rgb(225, 240, 213);
}
h1 {
  color: rgb(211, 36, 162);
}
p {
  color: rgb(34, 119, 64);
}
h2 {
  color: rgb(40, 192, 192);
}
h3 {
  color: rgb(137, 80, 40);
}
input:checked ~ #tquyenxich {
  display: none;
}

[href] {
  color: rgb(230, 160, 172);
  font-size: 20px;
}
a:active {
  color: black;
}
div {
  margin: 0 auto;
  text-align: center;
}
